<strong>Hola, {{ provider }}</strong>
<p>Hubo un cancelamiento con un cliente, vea los detalles abajo</p>
<p>
  <strong> Cliente: </strong> {{ user }} <br />
  <strong> Fecha/Hora: </strong> {{ date }} <br />
  <br />
  <strong> El horario esta nuevamente disponible para nueva agenda. </strong>
</p>
